ul{
  list-style: none;
  padding-inline-start: 5px;
  list-style-type: none;
}
li{
  text-decoration: none;
  display: flex;
  margin-top: 1%;
}
div ul li p{
  width: 19vw;
  font-size: 18px;
}
ul li button{
  margin-inline: 2%;
  height: 7vh;
  align-items: center;
  text-align: center;
}
#editar{
  background-color: coral;
}
#eliminar{
  background-color: crimson;
}
#ver{
  background-color: cornflowerblue;
}